











/* БЛОК VIDEO */
.video {
  border: hotpink 2px solid;
  display: flex;
  flex-direction: column;
}

.video__iframes {
  display: inline-block;
  margin: auto;
  border: 1px solid green;
  transform: translate(0, 50px); /* Оставил смещение конкретно видео, а не целой секции "Видео". В брифе уточнений не дано. */
}

.video__iframe {
  border: red 1px solid;
  width: 515px;
  height: 316px;
  margin-top: 50px;
}

.video__iframe:last-child {
  margin-left: 20px;
}


.section-title_theme_dark { /* Заголовок Принципы обучения*/ 
  color: white;
  width: 60%;
  margin: auto;
  text-align: center;
  margin-top: 90px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  z-index: 2;
}

.section-subtitle_theme_dark { /* Подзаголовок от Дж. Кауфмана*/ 
  color: white;
  width: 60%;
  margin: auto;
  text-align: center;
  margin-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}

.table_theme_dark { /* Таблица полностью Дж. Кауфмана*/
  display: flex;
  z-index: 2;
  margin: auto;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 90px;
}

/* и элемента с модификатором вида ключ-значение */






