.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header { /* БЛОК HEADER */
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  background-color: #f2f2f2;
  justify-content: center; 
  /* выше установили ограничения для секции */
}

.logo {
  width: 183px;
  height: 32px;
}

.logo__place_header { /* Логотип Яндекса */
  top: 30px;
  margin-left: 64px;
  position: absolute;
  z-index: 2;
}

.header__title { /* Научиться учиться */
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  width: 730px;
  left: 64px;
  z-index: 2;
  margin: 0;
}

.header__subtitle { /* Вопрос обучения */
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  width: 388px;
  margin-left: 64px;
  bottom: 30px;
  position: absolute;
  z-index: 4;

}

.header__link { /* Ссылка обучения */
  color:#2f80ed;
}

.header__main-illustration { /* Картина "Опять двойка" */
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}

.header__square-pic { /* Синий квадрат */
  height: 568px;
  width: 568px;
  background: #2f80ed;
  top: 64px;
  right: 0;
  position: absolute;
}

.description {  /* БЛОК DESCRIPTION */
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  position: relative;
  width: 80%;
  min-width: 784px;
}

.description__two-columns { /* Таблица полностью */
 display: flex;
 justify-content: space-around;
}

.description__two-columns_brief { /* Заголовок таблицы Главные проблемы в обучении */
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  color:  #2f80ed;
  width: 175px;
  text-align: start;
  margin-top: 0;
  margin-bottom: 0;
  left: 0;
}

.description__two-columns_main-text { /*Текст проблемы в обучении */
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
  width: 80%;
}

.description__two-columns_paragraph { 
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}

.digits { /* СЕКЦИЯ ЦИФРЫ И ФАКТЫ */
  margin-top: 100px;
}

.digits__section-title { /* Заголовок всей секции Цифры и факты*/
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  width: 60%;
  margin: 100px auto 20px auto;
  text-align: center;
}

.digits__section-subtitle { /* Подзаголовок всей секции Про учёбу и мозг*/
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
  width: 60%;
  margin: auto;
  text-align: center;
}

.table { /* Таблица полностью */
  width: 1100px;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
  padding: 0;
}

.table__cell {  /* Ячейка таблицы полностью */
  width: 250px;
  margin-top: 60px;
  margin-right: 0;
  list-style-type: none;
}

.table__text { /* Текст ячейки */
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.paragraph__cell-text {
  margin-top: 20px;
  margin-bottom: 0;
}

/* Ричард Филлипс Фейнман */
.feynman {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 790px;
  margin-top: 100px;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
  width: 648px;
  align-self: center;
  z-index: 2;
  margin: 0;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  z-index: 2;
  }

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  color:#2f80ed;
  text-decoration: none;
  align-self: flex-end;
  position: absolute;
  top: 50%;
  margin-right: 40px;
}

.feynman__photo {
  width: 867px;
  height: 637px;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}

.kaufman { /* КАУФМАН */
  background-color: #1f1f1f;
  overflow: hidden;
  display: flex;
  position: relative;
  flex-direction: column;
  padding-bottom: 90px;
}

.section-title_theme_dark { /* Заголовок Принципы обучения*/ 
  color: white;
  width: 60%;
  margin: auto;
  text-align: center;
  margin-top: 90px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  z-index: 2;
}

.section-subtitle_theme_dark { /* Подзаголовок от Дж. Кауфмана*/ 
  color: white;
  width: 60%;
  margin: auto;
  text-align: center;
  margin-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}

.table__theme_dark { /* Таблица полностью Дж. Кауфмана*/
  display: flex;
  z-index: 2;
  margin: auto;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark { /* Ячейка полностью Дж. Кауфмана*/
  color: white;
  width: 200px;
  margin-top: 80px;
}

.table__heading_theme_dark { /* Номер ячейки*/
  color: white;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  justify-content: left;
  margin-bottom: 20px;
  margin-top: 0;
}

.table__text_theme_dark { /* Текст внутри ячейки*/
  color: white;
  margin: 0;
}

.kaufman__triangle { /* Треугольник им. Дж. Кауфмана*/
  position: absolute;
  right: -210px;
  width: 877px;
  height: 877px;
  z-index: 1;
}

/* Футер */
.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
}

.logo__place_footer { 
  background-image: url(../images/logo_place_footer.svg);
  width: 183px;
  height: 35px;
}
.footer__columns {  /* Таблица Футера */
 
  width: 90%;
  color: white;
  margin: 60px auto 40px auto;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright { /*Левая колонка футера (таблица) */
  flex-basis: 711px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.footer__author { /* Моё имя */
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
}

.footer__column-heading { /*Заглавие ссылок  */
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links { /*ССылки все вместе  */
  margin-bottom: 16px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
}

.column-link { /*ССылки по отдельности каждая  */
  color: white;
}

.footer__column_content_social {  /*Правая колонка футера VK INSTA FB  */
  right: 0;
  display: flex;
  flex-direction: column;
}

.footer__social-icon { /*Иконки VK INSTA FB  */
  width: 16px;
  height: 16px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
}